.Home {
  overflow: hidden;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #e0eafc;
  background: -webkit-linear-gradient(to top, #cfdef3, #e0eafc);
  background: linear-gradient(to top, #cfdef3, #e0eafc);
}
